.profile {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  margin-top: 19px;
}

.profile__sidebar {
  max-height: 56px;
  display: flex;
  gap: 16px;
  margin-right: 116px;
  align-items: center;
  justify-content: center;
}
