.card__section {
  margin-top: 40px;
}

.card__section-title {
  margin: 0px;
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__name {
  position: absolute;
  top: 18px;
  margin: 0;
  text-align: center;
  padding: 0 12px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.card__element {
  position: relative;
  display: flex;
  justify-content: center;
}

.card__image {
  width: 323px;
  height: 328px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  margin-top: 34px;
}

@media screen and (max-width: 899px) {
  .card__section {
    margin-top: 20px;
  }
}

@media screen and (max-width: 635px) {
  .card__section {
    margin-top: 15px;
  }
  .card__section-title {
    font-size: 15px;
  }
  .card__image {
    max-width: 250px;
    max-height: 250px;
  }
  .card__name {
    top: 10px;
    right: 85px;
  }
  .card__items {
    margin-top: 15px;
  }
}

@media screen and (max-width: 452px) {
  .card__section {
    margin-top: 10px;
  }
  .card__image {
    max-width: 175px;
    max-height: 175px;
  }
  .card__section-title {
    font-size: 12px;
  }
  .card__name {
    font-size: 10px;
    right: 60px;
  }
  .card__items {
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .card__section {
    margin-top: 0px;
  }
  .card__section-title {
    font-size: 10px;
  }
}
